In [43]:
!pip install neo4j
import neo4j
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [18]:
df = pd.read_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/winemag-data-130k-v2.csv')
print(df.shape)
df.head(3)

(129971, 14)

   ID   country  ...         variety               winery
0   0     Italy  ...     White Blend              Nicosia
1   1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2   2        US  ...      Pinot Gris            Rainstorm

[3 rows x 14 columns]

In [19]:
#Creates country
country= df[['ID','designation','region_2','region_1','province','country']]
country.head(3)

   ID   designation  ...           province   country
0   0  Vulkà Bianco  ...  Sicily & Sardinia     Italy
1   1      Avidagos  ...              Douro  Portugal
2   2           NaN  ...             Oregon        US

[3 rows x 6 columns]

In [20]:
province= df[['ID','designation','region_2','region_1','province']]
province.head(3)

   ID   designation           region_2           region_1           province
0   0  Vulkà Bianco                NaN               Etna  Sicily & Sardinia
1   1      Avidagos                NaN                NaN              Douro
2   2           NaN  Willamette Valley  Willamette Valley             Oregon

In [21]:
region1= df[['ID','designation','region_2','region_1']]
region1.head(3)

   ID   designation           region_2           region_1
0   0  Vulkà Bianco                NaN               Etna
1   1      Avidagos                NaN                NaN
2   2           NaN  Willamette Valley  Willamette Valley

In [22]:
region2= df[['ID','designation','region_2']]
region2.head(3)

   ID   designation           region_2
0   0  Vulkà Bianco                NaN
1   1      Avidagos                NaN
2   2           NaN  Willamette Valley

In [23]:
designation= df[['ID','designation']]
designation.head(3)

   ID   designation
0   0  Vulkà Bianco
1   1      Avidagos
2   2           NaN

In [32]:
pricedf=df[['ID','price']]
pricedf.head(3)

   ID  price
0   0    NaN
1   1   15.0
2   2   14.0

In [44]:
conditions = [
    (pricedf['price'] <= 10),
    (pricedf['price'] > 10) & (pricedf['price'] <= 20),
    (pricedf['price'] > 20) & (pricedf['price'] <= 30),
    (pricedf['price'] > 30) & (pricedf['price'] <= 40),
    (pricedf['price'] > 40) & (pricedf['price'] <= 50),
    (pricedf['price'] > 50) & (pricedf['price'] <= 60),
    (pricedf['price'] > 60) & (pricedf['price'] <= 70),
    (pricedf['price'] > 70) & (pricedf['price'] <= 80),
    (pricedf['price'] > 80) & (pricedf['price'] <= 90),
    (pricedf['price'] > 90) & (pricedf['price'] <= 100),
    (pricedf['price'] > 100) & (pricedf['price'] <= 110),
    (pricedf['price'] > 110) & (pricedf['price'] <= 120),
    (pricedf['price'] > 120) & (pricedf['price'] <= 130),
    (pricedf['price'] > 130) & (pricedf['price'] <= 140),
    (pricedf['price'] > 140)
    ]

# create a list of the values we want to assign for each condition
values = ['0-10','11-20','21-30','31-40','41-50','51-60','61-70','71-80','81-90','91-100','101-110','110-120','121-130','131-140','>140']

# create a new column and use np.select to assign values to it using our lists as arguments
pricedf['pricebucket'] = np.select(conditions, values)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
pricedf.head()

   ID  price pricebucket
0   0    NaN           0
1   1   15.0       11-20
2   2   14.0       11-20
3   3   13.0       11-20
4   4   65.0       61-70

In [46]:
conditions2 = [
    (pricedf['price'] <= 10),
    (pricedf['price'] > 10) & (pricedf['price'] <= 20),
    (pricedf['price'] > 20) & (pricedf['price'] <= 30),
    (pricedf['price'] > 30) & (pricedf['price'] <= 40),
    (pricedf['price'] > 40) & (pricedf['price'] <= 50),
    (pricedf['price'] > 50) & (pricedf['price'] <= 60),
    (pricedf['price'] > 60) & (pricedf['price'] <= 70),
    (pricedf['price'] > 70) & (pricedf['price'] <= 80),
    (pricedf['price'] > 80) & (pricedf['price'] <= 90),
    (pricedf['price'] > 90) & (pricedf['price'] <= 100),
    (pricedf['price'] > 100) & (pricedf['price'] <= 110),
    (pricedf['price'] > 110) & (pricedf['price'] <= 120),
    (pricedf['price'] > 120) & (pricedf['price'] <= 130),
    (pricedf['price'] > 130) & (pricedf['price'] <= 140),
    (pricedf['price'] > 140)
    ]
    
# create a list of the values we want to assign for each condition
values2 = [10,20,30,40,50,60,70,80,90,100,110,120,130,140,3300]

# create a new column and use np.select to assign values to it using our lists as arguments
pricedf['maxvalue'] = np.select(conditions2, values2)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [48]:
pricedf.head(10)

   ID  price pricebucket  maxvalue
0   0    NaN           0         0
1   1   15.0       11-20        20
2   2   14.0       11-20        20
3   3   13.0       11-20        20
4   4   65.0       61-70        70
5   5   15.0       11-20        20
6   6   16.0       11-20        20
7   7   24.0       21-30        30
8   8   12.0       11-20        20
9   9   27.0       21-30        30

In [49]:
points=df[['ID','points']]
points.head(3)

   ID  points
0   0      87
1   1      87
2   2      87

In [50]:
winery=df[['ID','winery']]
winery.head(3)

   ID               winery
0   0              Nicosia
1   1  Quinta dos Avidagos
2   2            Rainstorm

In [51]:
variety=df[['ID','variety']]
variety.head(3)

   ID         variety
0   0     White Blend
1   1  Portuguese Red
2   2      Pinot Gris

In [52]:
#Created the main title node out of the rest of the variables
title=df[['ID','title','description']]
title.head(3)

   ID  ...                                        description
0   0  ...  Aromas include tropical fruit, broom, brimston...
1   1  ...  This is ripe and fruity, a wine that is smooth...
2   2  ...  Tart and snappy, the flavors of lime flesh and...

[3 rows x 3 columns]

In [53]:
title.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/title.csv', index=False)
variety.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/variety.csv', index=False)
winery.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/winery.csv', index=False)
points.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/points.csv', index=False)
pricedf.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/price.csv', index=False)
designation.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/designation.csv', index=False)
region2.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/region2.csv', index=False)
region1.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/region1.csv', index=False)
province.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/province.csv', index=False)
country.to_csv('/content/gdrive/MyDrive/Summer 2021/DSBA 6520/Project/country.csv', index=False)